<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/expense?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">csp389817</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.connection.pool_size">5</property>

        <!-- Specify dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
         <!--alter table users add constraint unique_email unique(email);-->
        <!-- Mapping files -->
        <!-- Add here your entity class mappings -->
        <!--<mapping class="com.csp.expense.db.model.User"/>-->
        <mapping resource="map.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
